{% load static %}
<!DOCTYPE html>

<!-- Breadcrumb-->
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="index Bootstrap  Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
      {% block title %}
          <title>index Bootstrap Template</title>
      {% endblock title %}

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">

  <!-- Vendors styles-->
  <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
  <!-- Main styles for this application-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/coreui.min.css' %}" rel="stylesheet">

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>

  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        Home
      </div>
      <!-- 左侧菜单栏开始 -->
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">

         <!-- 第一段标题 -->
         <li class="nav-title">Network-AI-Toolkit</li>

        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" id="ajax_index">
            <svg class="nav-icon">
            </svg> HW Configuration</a></li>

         <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
             <svg class="nav-icon">
             </svg> Chronos</a>
             <ul class="nav-group-items">
                 <li class="nav-item"><a class="nav-link" href="{% url 'chronos_performance' %}" id="chronos_perf"><span class="nav-icon"></span> Performance</a></li>
                 <li class="nav-item"><a class="nav-link" href="{% url 'chronos_accuracy' %}" id="chronos_acc"><span class="nav-icon"></span> Accuracy</a></li>
             </ul>
         </li>

        <!-- 第二段标题 -->

      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
            </svg></a>
            <!-- 登录退出 -->
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" >Login</a></li>
            <li class="nav-item"><a class="nav-link" >Logout</a></li>
            <li class="nav-item"><a class="nav-link" >Welcome User</a></li>
          </ul>
          <ul class="header-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                </svg></a></li>
          </ul>

        </div>

      </header>
      <!-- 主页数据展示 -->
      <div class="body flex-grow-1 px-3">

          <!-- base 模板 ---- 模板继承 -->
            {% block content %}

            <!--  子模版继承内容  -->

            {% endblock content %}



      </div>
      <footer class="footer">
        <div>Project created in 2022-09</div>
        <div class="ms-auto">Powered by&nbsp;♂</div>
      </footer>
    </div>
  <!-- ajax -->
  <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
  <!-- CoreUI and necessary plugins-->
  <script src="{% static 'js/simplebar.min.js' %}"></script>
  <!-- Plugins and scripts required by this view-->
  <script src="{% static 'js/coreui-utils.js' %}"></script>
  <script src="{% static 'js/popper.mini.js' %}"></script>
  <script src="{% static 'js/coreui-pro.bundle.min.js' %}"></script>
  <script src="{% static 'css/coreui-pro.min.css' %}"></script>

  <script>

  </script>
  {% block script %}

  {% endblock script %}
  </body>
</html>
