{% extends 'curd/base.html' %}

{% block title %}
    <title>Chronos-Accuracy</title>
{% endblock title %}

{% block content %}
    <div class="card mb-4">

          <div class="card-header"> Accuracy</div>

          <div class="card-body">
            <!-- 表单 -->
            <form class="was-validated" method="get" action="{% url 'chronos_accuracy_view' %}">
              <!-- 选择框 -->
              <div class="row g-2">
                <div class="col-md">
                  <select class="form-multi-select" id="platform" data-coreui-multiple="false">
                    <option value="icl">ICL</option>
                    <option value="spr">SPR</option>
                  </select>
                </div>
                <div class="col-md">
                  <select class="form-multi-select" id="models" multiple data-coreui-selection-type="text" data-coreui-search="true" data-coreui-placeholder="Model">
                    <option value="lstm" selected>LSTM</option>
                    <option value="seq2seq">Seq2Seq</option>
                    <option value="tcn">TCN</option>
                    <option value="mtnet">MTNet</option>
                    <option value="prophet">Prophet</option>
                    <option value="arima">ARIMA</option>
                  </select>
                  <div class="invalid-feedback">Cannot be empty</div>
                </div>
                <div class="col-md">
                  <select class="form-multi-select" id="framework" data-coreui-multiple="false">
                    <option value="pytorch_with">PyTorch with AutoML</option>
                    <option value="pytorch_without">PyTorch without AutoML</option>
                    <option value="onnx_without">ONNX without AutoML</option>
                    <option value="openvino_without">OpenVINO without AutoML</option>
                  </select>
                </div>
                <div class="col-md">
                  <select class="form-multi-select" id="date" data-coreui-multiple="false" name="date">
                    <option value="1" selected>2022-01-01</option>
                  </select>
                </div>
                  <button type="button" class="btn btn-outline-dark" onclick="chronos_acc()">Select</button>
              </div>

            </form>

            <!-- 页面展示表格 -->
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-277">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Platform</th>
                      <th scope="col">Model</th>
                      <th scope="col">Model precision</th>
                      <th scope="col">look_back / horizon</th>
                      <th scope="col">Training Time</th>
                      <th scope="col">sMAPE for AvgRate</th>
                      <th scope="col">sMAPE for total</th>
                      <th scope="col">MSE for AvgRate</th>
                      <th scope="col">MSE for total</th>
                      <th scope="col">AutoML</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr>
                      <th scope="row">ICL</th>
                      <td>Seq2Seq</td>
                      <td>FP32</td>
                      <td>Single-step84->1</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>YEs</td>
                    </tr>
                    <tr>
                      <th scope="row">ICL</th>
                      <td>Seq2Seq</td>
                      <td>FP32</td>
                      <td>Single-step84->1</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>YES</td>
                    </tr>
                    <tr>
                      <th scope="row">ICL</th>
                      <td>Seq2Seq</td>
                      <td>FP32</td>
                      <td>Single-step84->1</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Cell</td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
{% endblock content %}

{% block script %}
    <script>

        let platform = document.getElementById('platform').value;
        let framework = document.getElementById('framework').value;
        let date = document.getElementById('date').value;
        function chronos_acc() {

            $.ajax({
                type:'GET',
                url:'{% url 'chronos_accuracy_view' %}',
                traditional: true,
                data:{'platform':platform,'models':$('#models').val(),'framework':framework,'date':date},
                dataType:'json',
                success: function (res) {
                    console.log("ok");
                }
            })
        }

    </script>
{% endblock script %}
