{% extends 'curd/base.html' %}

{% block title %}
    <title>Index</title>
{% endblock title %}

{% block content %}
<!-- 两侧流白 -->
<div class="container-lg">

    <!-- 主页数据展示-->
    <div class="card mb-4">

    <div class="card-header"> Platform and cpu information</div>

    <div class="card-body">
      <!-- <p>This is the CPU details of the server</p> -->

      <div class="tab-content rounded-bottom">
        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-132">
          <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">Platform</th>
                <th scope="col">Sapphire Rapids</th>
                <th scope="col">IceLake</th>
                <th scope="col">CascadeLake</th>
              </tr>
            </thead>
            <tbody>

              <tr class="table-primary">
                <th scope="row">Server OS</th>
                <td>Ubuntu 22.04.1 LTS</td>
                <td>Ubuntu 21.04</td>
                <td>Ubuntu 18.04.5 LTS</td>
              </tr>

              <tr class="table-secondary">
                <th scope="row">Memory</th>
                <td>256G</td>
                <td>384G</td>
                <td>192G</td>
              </tr>

              <tr class="table-success">
                <th scope="row">Kernel</th>
                <td>5.15.0-43</td>
                <td>5.11.0-49</td>
                <td>5.4.0-121</td>
              </tr>

              <tr class="table-info">
                <th scope="row">CPU</th>
                <td>Intel(R) Xeon(R) Platinum 8480+ (E3 stepping)</td>
                <td>Intel(R) Xeon(R) Platinum 8358 CPU @ 2.60GHz</td>
                <td>Intel(R) Xeon(R) Platinum 8280L CPU @ 2.70GHz</td>
              </tr>

              <tr class="table-danger">
                <th scope="row">CPU MHz</th>
                <td></td>
                <td>3400.000</td>
                <td>1000.013</td>
              </tr>

              <tr class="table-warning">
                <th scope="row">CPU max MHz</th>
                <td>3800.0000</td>
                <td>3400.0000</td>
                <td>4000.0000</td>
              </tr>

              <tr class="table-info">
                <th scope="row">CPU min MHz</th>
                <td>800.0000</td>
                <td>800.0000</td>
                <td>1000.0000</td>
              </tr>

              <tr class="table-light">
                <th scope="row">L1d cache</th>
                <td>5.3 MiB</td>
                <td>3 MiB</td>
                <td>32K</td>
              </tr>

              <tr class="table-primary">
                <th scope="row">L1i cache</th>
                <td>3.5 MiB</td>
                <td>2 MiB</td>
                <td>32K</td>
              </tr>

              <tr class="table-secondary">
                <th scope="row">L2 cache</th>
                <td>224 MiB</td>
                <td>80 MiB</td>
                <td>1024K</td>
              </tr>

              <tr class="table-success">
                <th scope="row">L3 cache</th>
                <td>210 MiB</td>
                <td>96 MiB</td>
                <td>39424K</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
<!-- 两侧流白 -->
</div>

{% endblock content %}
